<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="new_musician_form">

    <%= f.text_field :name, placeholder: "Name (required)" %><br/>

    <%= f.text_field :email, placeholder: "Email (required)" %><br/>

    <%= f.password_field :password, placeholder: "Password (required)" %><br/>

    <%= f.password_field :password_confirmation, placeholder: "Password Confirmation (required)" %><br/>
    <strong><%= f.label :band %>?:</strong>
    <%= f.check_box :is_band %>Click here if you're in a band!<br/>
    <strong><%= f.label :musician %>?:</strong>
    <%= f.check_box :is_musician %>Click here if you're looking to JOIN a band!<br/><br/>

    <%= f.text_field :location, placeholder: "Location (required)" %><br/>

    <%= f.text_field :instrument, placeholder: "Instrument (required)" %><br/>

    <%= f.number_field :years_playing, placeholder: "Years Playing? (required)" %><br/><br/>

    <%= f.text_field :style, placeholder: "Style" %><br/>

    <%= f.text_field :tour_history, placeholder: "Tour History" %><br/>

    <%= f.text_field :about_you, placeholder: "Something About You" %><br/>
    <strong><%= f.label :smoker %>? :</strong>
    <%= f.check_box :is_smoker %>Click if you are!<br/><br/>

    <%= f.text_field :favorite_venue, placeholder: "Favorite Venue" %><br/>

    <%= f.text_field :favorite_band, placeholder: "Favorite Band" %><br/>

    <%= f.url_field :picture, placeholder: "Picture" %>(drop in a jpg or a png!)<br/>

    <%= f.url_field :video, placeholder: "Video" %><br/>



  <span class="actions">
    <%= f.submit %>
  </span>
  </div>
<% end %>
