<h1>Listing users</h1>
<% @users.each do |user| %><br/>
  <img src="<%= user.picture %>" width=173px height=173px/><br/>
  <%= user.name %>
    <% if user.is_band == true %>
      We're a band!
    <% else %>
      I'm a musician!
<% end %><br/>
<%= @scores %>

<%= link_to 'Show', user %>
<%= link_to 'Edit', edit_user_path(user) %>
<%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>

    <br/><% end %>




<br/>

<%= link_to 'New User', new_user_path %>
