<%= render 'header' %>

<% @users.each do |user| %><br/>
<div id="users_index">
  <a href="/users/<%=user.id%>">
  <img id="index_images" src="<%= user.picture %>" width=250px height=212px/></a><br/>
  <%= user.name %><br/>
    <% if user.is_band == true %>
      We're a band!
    <% else %>
      I'm a musician!
<% end %><br/>

<%= user.get_scores(@session) %>% Matchiness<br/>
<% if user.is_band == true %>
  <span class="button"><%= link_to 'Check Us Out!', user %></span>
<% else %>
  <span class="button"><%= link_to 'Check Me Out!', user %></span>
<% end %>
</div>
  <br/><br/>
<% end %>
