<% @users.each do |user| %><br/>
<div id="users_index">
  <img src="<%= user.picture %>" width=212px height=173px/><br/>
  <%= user.name %><br/>
    <% if user.is_band == true %>
      We're a band!
    <% else %>
      I'm a musician!
<% end %><br/>

<%= user.get_scores(@session) %>% Matchiness<br/>
<% if user.is_band == true %>
  <%= link_to 'Check Us Out!', user %>
<% else %>
  <%= link_to 'Check Me Out!', user %>
<% end %>
</div>
  <br/><br/><% end %>
