<%= render 'header' %>
<section id="user_show">
  <% if current_user.id == @user.id %>
    <img id="index_images" src="<%if @user.picture != "" %><%= @user.picture %><% else %>http://i0.kym-cdn.com/entries/icons/facebook/000/004/815/lol-guy.jpg<% end %>" width=650px height=300px /><br/>
    <strong>Name</strong><br/><%= @user.name %><br/>
  <% else %>
    <h2><%= @user.name %></h2>
    <img id="index_images" src="<%if @user.picture != "" %><%= @user.picture %><% else %>http://i0.kym-cdn.com/entries/icons/facebook/000/004/815/lol-guy.jpg<% end %>" width=650px height=300px /><br/>
  <% end %>
  <% if current_user.id == @user.id %>
  <strong>Email</strong><br/><%= @user.email %>
  <% else %>
  <strong>Email</strong><br/><span class="button"><a href="mailto:<%= @user.email %>"><%= @user.email %></a></span>
  <% end %>
  <% if @user.is_band == true %>
    <p><strong>We're a band!</strong></p>
    <% else %>
    <p><strong>I'm a musician!</strong></p>
  <% end %>
  <strong>Years Playing</strong><br/><%= @user.years_playing %> Years <br/>
  <strong>Touring History</strong><br/><%= @user.tour_history %><br/>
  <% if @user.is_band == true %>
    <strong>We're At</strong><br/><%= @user.location %>
  <% else %>
    <strong>I'm At</strong><br/><%= @user.location %>
  <% end %><br/>
  <strong>About</strong><br/><%= @user.about_you %><br/>
  <% if @user.is_smoker == true %>
    <p><strong>Smokes?</strong><br/>Yes Please!</p>
  <% else %>
    <p><strong>Smokes? No Thanks!</strong><br/></p>
  <% end %>
  <strong>Favorite Band</strong><br/><%= @user.favorite_band %><br/>
  <strong>Favorite Venue</strong><br/><%= @user.favorite_venue %><br/><br/>

  <% if current_user.id == @user.id %>
    <span class="button"><%= link_to 'Edit', edit_user_path(@user) %></span>
    <!-- <%= link_to 'Questions', user_questions_path(@user) %> | -->
    <span class="button"><% if current_user.is_band == true %>
      <%= link_to 'Browse Musicians', users_path %>
    <% else %>
      <%= link_to 'Browse Bands', users_path %></span>
    <% end %>
  <% else %>
    <span class="button"><%= link_to 'Back to Browse', users_path %></span>
  <% end %>

</section>
