<header>
  Welcome <%= current_user.name %>
</header>

<img src="<%= @user.picture %>" width=200px height=200px/><br/>
Name: <%= @user.name %><br/>
Email: <%= @user.email %>
<% if @user.is_band == true %>
  <p>We're a band!</p>
  <% else %>
  <p>I'm a musician!</p>
<% end %>
Years Playing: <%= @user.years_playing %> Years <br/>
Touring History: <%= @user.tour_history %><br/>
<% if @user.is_band == true %>
  We're at: <%= @user.location %>
<% else %>
  I'm at: <%= @user.location %>
<% end %><br/>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'Destroy', user_path, method: :delete, data: { confirm: 'Are you sure?' } %>
