<!DOCTYPE html>
<html>
<head>
  <title>BandBuddyApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <% if current_user %>
    <%= button_to "Logout", sessions_path, :method => :delete, class: :logout_button %>
    <h1 id="welcome">Welcome <%= current_user.name %></h1>
  <% end %>
</header>

<%= yield %>

</body>
</html>
