<!DOCTYPE html>
<html>
<head>
  <title>BandBuddyApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <% if current_user %>
    <%= button_to "Logout", sessions_path, :method => :delete %>
  <% end %>
</header>

<%= yield %>

</body>
</html>
